.banner-home {
    background-image: url('/img/imagem-de-fundo-natalia-lima-consultoria-de-marketing-digital.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}